// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

.App-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
    font-size: calc(12px + 2vmin);
    padding: .1em 2vmin 1em;
    h1{
        color:#222;
        cursor: pointer;
    }
    //background-color: rgb(242, 242, 242);
    background-image: linear-gradient(rgba(242, 242, 242, 1), rgba(242, 242, 242, 0.9), rgba(242, 242, 242, 0));
}

nav{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vmin);
    padding: 1em 10vmin;
    color: white;
    cursor: pointer;

    position: fixed;
    top: -300px;
    opacity: 0;
    width: 100vw;

    h2{
        font-size: calc(16px + 4vmin);
        + div{
            font-size: calc(10px + 1vmin)
        }
    }
}