footer{
    text-align: center;
    background-color: rgba(34, 34, 34, 0.94);
    color: #ccc;
    position:fixed;
    bottom: 0;
    width: 100vw;

    font-size: calc(11px + .6vmin);
    padding: calc(4px + 2vmin) 2vmin;
    a{
        color: #bbb;
        margin: 0 calc(2px + 1vmin)
    }
}
