[data-scope-openlib] {
  font-family: "Roboto", sans-serif;
}
[data-scope-openlib] .hide {
  display: none;
}
[data-scope-openlib].container {
  width: 100%;
  background-color: #fff;
  color: #555;
}
[data-scope-openlib] .top {
  z-index: 2;
  padding: 40px;
  display: flex;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(241, 241, 207, 0.94);
}
[data-scope-openlib] .results {
  width: 90vw;
  margin: auto;
  min-height: 60vh;
  padding: 40px;
}
[data-scope-openlib] .book-row {
  position: relative;
  padding: 20px 8px;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  transition: 0.4s;
}
[data-scope-openlib] .book-row div span {
  color: #aaa;
  font-size: 84%;
}
[data-scope-openlib] .book-row:hover {
  background-color: #f3f3f3;
}
[data-scope-openlib] .book-row .book-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4px;
}
[data-scope-openlib] .book-row .book-resultnum {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #aaa;
  font-size: 80%;
}
[data-scope-openlib] .book-row .book-resultnum::before {
  content: "Result # ";
}
[data-scope-openlib] .favBook {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
[data-scope-openlib] .favBook .book-row {
  text-align: center;
  padding: 20px 40px;
  border: none;
}
[data-scope-openlib] .favBook .book-row img {
  height: 250px;
}
@media only screen and (max-width: 800px) {
  [data-scope-openlib] .favBook .book-row img {
    height: 160px;
  }
}
[data-scope-openlib] .book-modalContainer {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-scope-openlib] .book-modal {
  position: absolute;
  background: #fff;
  padding: 60px 20px;
  border: 2px solid #bbb;
  max-width: 88vw;
  min-width: 88vmin;
  max-height: 80vh;
  overflow: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
[data-scope-openlib] .book-modal::-webkit-scrollbar {
  width: 10px;
}
[data-scope-openlib] .book-modal::-webkit-scrollbar-track {
  background: #fff;
}
[data-scope-openlib] .book-modal::-webkit-scrollbar-thumb {
  background: #888;
}
[data-scope-openlib] .book-modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}
[data-scope-openlib] .book-modal .modalHeader {
  position: sticky;
  top: 0;
}
[data-scope-openlib] .book-modal .closeBt {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: -48px;
  padding: 0;
  outline: none;
}
[data-scope-openlib] .book-modal .closeBt .closeX {
  cursor: pointer;
  height: 50px;
  width: 50px;
  transition: 0.4s;
  color: #777;
}
[data-scope-openlib] .book-modal .closeBt .closeX:hover {
  color: #000;
}
[data-scope-openlib] .book-modal .book-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-scope-openlib] .book-modal .book-cover img {
  max-height: 360px;
}
[data-scope-openlib] .book-modal .book-title {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 1.8em;
  font-weight: bold;
}
[data-scope-openlib] .book-modal .book-author span, [data-scope-openlib] .book-modal .book-date span {
  color: #aaa;
}
[data-scope-openlib] .book-modal .book-author span::after, [data-scope-openlib] .book-modal .book-date span::after {
  content: ": ";
  padding-right: 8px;
}
[data-scope-openlib] .book-modal .book-desc, [data-scope-openlib] .book-modal .book-subject {
  border-top: solid 1px #ddd;
  padding-top: 20px;
  margin-top: 20px;
}
[data-scope-openlib] .book-modal .book-desc span, [data-scope-openlib] .book-modal .book-subject span {
  display: block;
  color: #aaa;
}
[data-scope-openlib] .book-modal .book-desc span::after, [data-scope-openlib] .book-modal .book-subject span::after {
  content: ": ";
}

/*# sourceMappingURL=style.css.map */
