/* scope [data-scope-openlib] */

[data-scope-openlib] {
    font-family: 'Roboto', sans-serif;

    &.container {
        width: 100%;
        background-color: #fff;
        color: #555
    }

    .top {
        z-index: 2;
        padding: 40px;
        display: flex;
        justify-content: center;
        position: sticky; 
        position: -webkit-sticky;
        top: 0;
        background-color: rgba(241, 241, 207, 0.94);
        // box-shadow: 0 3px 6px #bbb;
    }

    .results {
        width: 90vw;
        margin: auto;
        min-height: 60vh;
        padding: 40px;
    }

    .book-row {
        position: relative;
        padding: 20px 8px;
        border-bottom: solid 1px #ddd;
        div span {
            color: #aaa; font-size: 84%
        }
        cursor: pointer;
        transition: .4s;
        &:hover { background-color: #f3f3f3}

        .book-title { 
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .book-resultnum { 
            position: absolute; right: 20px; bottom: 20px; color: #aaa; font-size: 80%;
            &::before {content: 'Result # '}
        }
    }

    .book-modalContainer {
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.24);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .book-modal {
        position: absolute;
        background: #fff;
        padding: 60px 20px;
        border: 2px solid #bbb;
        max-width: 88vw;
        min-width: 88vmin;
        max-height: 80vh;
        overflow: scroll;
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #fff; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }

        .modalHeader {
            position: sticky;
            top: 0;
        }

        .closeBt {
            background-color: transparent;
            border: 0;
            position: absolute;
            right: 0;
            top: -48px;
            padding: 0;
            outline: none;
            .closeX {
                cursor: pointer;
                height: 50px;
                width: 50px;
                transition: .4s;
                color: #777;
                &:hover {color: #000}
            }
        }

        .book-detail-wrapper { max-width: 60vw }

        .book-cover {
            display: flex;
            align-items: center;
            justify-content: center;
            img {max-height: 360px;}
        }

        .book-title {
            margin-top: 12px;
            margin-bottom: 4px;
            font-size: 1.8em;
            font-weight: bold;
        }

        .book-author, .book-date {
            span { 
                color: #aaa;
                &::after {content: ': '; padding-right: 8px}
            }
        }

        .book-desc, .book-subject {
            border-top: solid 1px #ddd;
            padding-top: 20px;
            margin-top: 20px;
            span {
                display: block; 
                color: #aaa;
                &::after {content: ': ';}
            }
        }
    }
}