#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home .App-header {
    margin: auto;
    position: sticky;
    top: 40px;
}

#home .App-header nav ul li a{
    padding: calc(12px + 4vmin) calc(12px + 3vmin);
    /* border: solid 1px rgba(255, 166, 0, .5); */
}