[data-scope-cure] {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #161b22;
  color: #aaa;
}
[data-scope-cure] .hide {
  display: none;
}
[data-scope-cure].bgimg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
[data-scope-cure] .button-ico, [data-scope-cure] .button {
  font-size: 0.9em;
  transition: 0.3s;
  cursor: pointer;
  border: rgba(134, 128, 128, 0.4) 1px solid;
  border-radius: 100px;
  padding: 4px 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}
[data-scope-cure] .button-ico:hover, [data-scope-cure] .button:hover {
  background-color: rgba(4, 3, 3, 0.4);
}
[data-scope-cure] .button-ico svg, [data-scope-cure] .button svg {
  margin-right: 8px;
}
@media only screen and (max-width: 800px) {
  [data-scope-cure] .button-ico, [data-scope-cure] .button {
    margin: 8px 0;
  }
}
[data-scope-cure] .header {
  text-align: center;
}
[data-scope-cure] .header .search input {
  color: #efefef;
  font-size: 1.4em;
  padding: 8px;
}
[data-scope-cure] .header .searchHelper {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 8px;
}
[data-scope-cure] .header .searchHelper .button {
  margin: 0 8px;
  min-width: 160px;
}
[data-scope-cure] .search {
  position: relative;
  width: 50%;
  margin: auto;
}
[data-scope-cure] .search .MuiFormControl-root {
  width: 100%;
}
[data-scope-cure] .search .MuiInputLabel-formControl {
  left: 8px;
  top: 4px;
}
[data-scope-cure] .search .MuiInput-root.MuiInput-underline:after {
  border-color: #972d2d;
}
[data-scope-cure] .search .MuiFormLabel-root.MuiInputLabel-root {
  color: #999;
}
[data-scope-cure] .search .MuiInputBase-input.MuiInput-input {
  border-radius: 4px;
}
@media only screen and (max-width: 800px) {
  [data-scope-cure] .search {
    width: 80%;
  }
}
[data-scope-cure] .search input {
  color: #777;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 18px;
}
[data-scope-cure] .search .clearX {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
}
[data-scope-cure] .search .clearX:hover {
  color: rgba(255, 255, 255, 0.6);
}
[data-scope-cure] .search .alert {
  padding: 8px;
  border-radius: 22px;
  color: #bbb;
  margin: 4px auto;
  background-color: rgba(151, 45, 45, 0.5);
  animation-name: alertbox;
  animation-duration: 0.4s;
}
@keyframes alertbox {
  0% {
    background-color: rgba(151, 45, 45, 0);
    width: 40%;
  }
  50% {
    background-color: rgba(151, 45, 45, 0.3);
    width: 100%;
  }
  100% {
    background-color: rgba(151, 45, 45, 0.5);
  }
}
[data-scope-cure] .carousel {
  max-width: 84vw;
  margin: 0 auto;
  transform: translate3d(0, 60%, 0);
  transition: 0.8s;
}
[data-scope-cure] .carousel.reduced {
  transform: translate3d(0, 6%, 0);
}
[data-scope-cure] .carousel .slick-track {
  height: 400px;
  overflow: hidden;
}
@media only screen and (max-width: 2200px) {
  [data-scope-cure] .carousel .slick-track {
    height: 340px;
  }
}
@media only screen and (max-width: 1700px) {
  [data-scope-cure] .carousel .slick-track {
    height: 280px;
  }
}
@media only screen and (max-width: 1400px) {
  [data-scope-cure] .carousel .slick-track {
    height: 255px;
  }
}
@media only screen and (max-width: 1100px) {
  [data-scope-cure] .carousel .slick-track {
    height: 220px;
  }
}
@media only screen and (max-width: 800px) {
  [data-scope-cure] .carousel .slick-track {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  [data-scope-cure] .carousel .slick-track {
    height: 160px;
  }
}
[data-scope-cure] .carousel.reduced .slick-track {
  height: 260px;
}
@media only screen and (max-width: 2000px) {
  [data-scope-cure] .carousel.reduced .slick-track {
    height: 240px;
  }
}
@media only screen and (max-width: 1600px) {
  [data-scope-cure] .carousel.reduced .slick-track {
    height: 200px;
  }
}
@media only screen and (max-width: 980px) {
  [data-scope-cure] .carousel.reduced .slick-track {
    height: 100px;
  }
}
@media only screen and (max-width: 520px) {
  [data-scope-cure] .carousel.reduced .slick-track {
    height: 80px;
  }
}
[data-scope-cure] .carousel .slick-slide {
  transition: 1.2s;
}
[data-scope-cure] .carousel .coverBt {
  cursor: pointer;
  text-align: center;
  font-size: calc(8px + .6vmin);
  transition: 0.2s;
  margin: 1px 3px 7px 3px;
  width: calc(80px + 10vmin);
  opacity: 0.6;
  padding-bottom: 10px;
  outline: none;
}
[data-scope-cure] .carousel .coverBt img {
  width: 100%;
  margin-bottom: 10px;
}
[data-scope-cure] .carousel .coverBt:hover {
  opacity: 1;
}
[data-scope-cure] .carousel .coverBt.active {
  opacity: 1;
  background-color: #972d2d;
  color: #efefef;
}
@media only screen and (max-width: 980px) {
  [data-scope-cure] .carousel.reduced .coverBt img {
    margin-bottom: 0;
  }
}
[data-scope-cure] .carousel .slick-arrow {
  top: 41%;
  width: 80px;
  height: 200px;
}
[data-scope-cure] .carousel .slick-arrow::before {
  font-size: 30px;
}
@media only screen and (max-width: 1400px) {
  [data-scope-cure] .carousel .slick-arrow {
    top: 28%;
  }
}
@media only screen and (max-width: 820px) {
  [data-scope-cure] .carousel .slick-arrow {
    top: 35%;
  }
  [data-scope-cure] .carousel .slick-arrow::before {
    font-size: 24px;
  }
}
[data-scope-cure] .carousel .slick-prev {
  left: -60px;
}
[data-scope-cure] .carousel .slick-next {
  right: -60px;
}
[data-scope-cure] .carousel .slick-prev::before, [data-scope-cure] .carousel .slick-next::before {
  opacity: 0.3;
}
[data-scope-cure] .carousel.reduced .coverBt {
  font-size: calc(6px + .64vmin);
}
@media only screen and (max-width: 980px) {
  [data-scope-cure] .carousel.reduced .coverBt {
    font-size: 0;
  }
}
[data-scope-cure] .carousel.reduced .slick-arrow {
  top: 40%;
  height: 150px;
}
[data-scope-cure] .carousel.reduced .slick-arrow::before {
  font-size: 26px;
}
@media only screen and (max-width: 1400px) {
  [data-scope-cure] .carousel.reduced .slick-arrow {
    top: 28%;
  }
}
@media only screen and (max-width: 820px) {
  [data-scope-cure] .carousel.reduced .slick-arrow {
    top: 35%;
  }
  [data-scope-cure] .carousel.reduced .slick-arrow::before {
    font-size: 18px;
  }
}
[data-scope-cure] .displayMain {
  max-width: 90vw;
  min-height: 90vh;
  margin: 40px auto 40px auto;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
[data-scope-cure] .songListContainer {
  width: 88%;
  padding-bottom: 200px;
}
@media only screen and (max-width: 600px) {
  [data-scope-cure] .songListContainer {
    width: 100%;
  }
}
[data-scope-cure] .songListContainer .summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: rgba(134, 128, 128, 0.4) 1px solid;
  padding: 12px;
  margin-bottom: 2px;
  flex-wrap: wrap;
}
[data-scope-cure] .songListContainer .summary .summary-txtLarge {
  font-weight: bold;
  font-size: 1.1em;
}
[data-scope-cure] .songListContainer .summary .summary-txtSmall {
  font-size: 0.9em;
}
[data-scope-cure] .songs {
  text-align: center;
  padding: calc(3px + .1vw) 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  margin: 2px 0;
  font-family: "Dawning of a New Day", cursive, sans-serif;
  font-size: calc(.8em + 1.8vmin);
  letter-spacing: -0.5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s;
}
[data-scope-cure] .songs:hover {
  color: #972d2d;
  padding-top: 30px;
  padding-bottom: 30px;
}
[data-scope-cure] .lyricContainer {
  border-top: rgba(134, 128, 128, 0.4) 1px solid;
  padding: 12px;
  height: 70vh;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
[data-scope-cure] .lyricContainer::-webkit-scrollbar {
  width: 14px;
}
[data-scope-cure] .lyricContainer::-webkit-scrollbar-track {
  background: transparent;
}
[data-scope-cure] .lyricContainer::-webkit-scrollbar-thumb {
  background: rgba(134, 128, 128, 0.4);
}
[data-scope-cure] .lyricContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(134, 128, 128, 0.4);
}
[data-scope-cure] .lyrics {
  font-family: "Dawning of a New Day", cursive, sans-serif;
  font-size: 2.8rem;
  letter-spacing: -0.5px;
  transition: 0.4s;
  line-height: 1.8em;
}
@media only screen and (max-width: 800px) {
  [data-scope-cure] .lyrics {
    font-size: 2.4rem;
    line-height: 1.4em;
  }
}
@media only screen and (max-width: 520px) {
  [data-scope-cure] .lyrics {
    font-size: 2rem;
    line-height: 1.4em;
  }
}
[data-scope-cure] .lyrics.txt-normal {
  font-family: times, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0;
}
@media only screen and (max-width: 800px) {
  [data-scope-cure] .lyrics.txt-normal {
    font-size: 1.4rem;
    line-height: 1.8em;
  }
}
@media only screen and (max-width: 520px) {
  [data-scope-cure] .lyrics.txt-normal {
    font-size: 1.2rem;
    line-height: 1.6em;
  }
}
[data-scope-cure] .lyrics.txt-center {
  text-align: center;
}
[data-scope-cure] .summary.songFooter .footerButtonGroup {
  display: flex;
  flex-wrap: wrap;
}
[data-scope-cure] .summary.songFooter .summary-txtSmall {
  padding: 2px 0;
}

/*# sourceMappingURL=style.css.map */
